/* This file provides additional CSS for SAERI */

/* Change the colour of the bar at the top where your username is displayed */
/* Commented out because we don't need it, this is just an example */
/*
.account-masthead {
    background-color: rgb(40, 40, 40);
}
*/

/* Replace the background image */
body .hero {
	background-image: url("media/fi/P1050796.JPG");
	/* background-size: 100% 100%; */
	background-size: cover;
	background-position: center;
}

/* Define the size of the part of the home page which is to the left of the search field */
/* The bottom of the search field is aligned with the bottom of this left-hand field */
/* so we need to make it large enough to bring the search field down to the bottom of the background image */
/* If the box contains content then it it will be displayed inside a box with this style */
/* box is defined in /usr/lib/ckan/default/src/ckan/ckan/public/base/css/main.css */
/* However I can't get ckan to obey this when adding it to the class in layout1.html */
/* so I've had to manually add a height to the style there instead */

.saeri_home_page_empty_space {
	height: 300px;
}

.saeri_home_page_box {
  height: 300px;
  opacity: 0.5;
  //background-color: #ffffff;
  //border: 1px solid #cccccc;
  //border-radius: 4px;
  //-webkit-box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.05);
  //box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.05);
}

/* Define how the group icon looks */
/* This is used inside the snippet which renders groups on the home page layout1.html */
/* /usr/lib/ckan/default/src/ckanext-saeritheme/ckanext/saeritheme/templates/group/snippets/group_item.html */
.saeri_group_icon {
	//
	max-width: 50px;
}

/* homepage customization just for colours */

/* SAERI's dark_blue = #004368 */
.account-masthead,
.homepage .module-search .tags {
	background: #004368;
}

/* SAERI's pastel_light_blue = #4f85c0 */
.masthead,
.site-footer,
.homepage .module-search .module-content {
	background: #4f85c0;
}

.account-masthead .account .notifications a span,
.account-masthead .account ul li a:hover,
.masthead .navigation .nav-pills li a:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

.masthead .navigation .nav-pills li.active a {
  background-color: rgba(0, 0, 0, 0.35);
}

.activity {
	background: none;
}

span.actor,
.activity .item .icon {
	display: none;
}

.activity .item p {
	visibility: hidden;
	margin-left: 0;
	font-size: 1.2em;
}

.activity .item p > span {
	visibility: visible;
	float: left;
}

.activity .item .date {
	padding-left: 1em;
	line-height: 2em;
}

#latest-addings {
	margin-top: 2em;
}

/* homepage slider */

.homepage-slider-ng {
  height: 400px;
  position: relative;
}

.homepage-slider-ng:before, .homepage-slider-ng:after {
  position: absolute;
  width: 100%;
  height: 15px;
  z-index: 10;
  content: ' ';
  left: 0;
  right: 0
}

.homepage-slider-ng:before {
  top: 0;
  background: rgba(0, 0, 0, 0);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(0, 0, 0, 0)), color-stop(1, rgba(0, 0, 0, 0.3)));
  background: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  background: -moz-linear-gradient(center bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.3) 100%);
  background: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(0, 0, 0, 0.3)', endColorstr='rgba(0, 0, 0, 0)', GradientType=0)
}

.homepage-slider-ng:after {
  bottom: 0;
  background: rgba(0, 0, 0, 0);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(0, 0, 0, 0.3)), color-stop(1, rgba(0, 0, 0, 0)));
  background: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  background: -moz-linear-gradient(center bottom, rgba(0, 0, 0, 0.3) 0, rgba(0, 0, 0, 0) 100%);
  background: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(0, 0, 0, 0)', endColorstr='rgba(0, 0, 0, 0.3)', GradientType=0)
}

.homepage-slider-ng .text-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 400px;
  z-index: -10;
	background-size: cover;
  background-position: center center
}

.homepage-slider-ng .text-wrapper .text-container {
  color: #fff;
  padding-top: 30px;
  text-align: center;
  text-shadow: #000 2px 2px 5px;
  font-size: 24px;
  line-height: 32px;
  width: 900px;
  margin: 0 auto
}

.homepage-slider-ng .text-wrapper .text-container h3, .homepage-slider-ng .text-wrapper .text-container .text-row {
  background: rgba(0, 0, 0, 0.5);
  padding: 0 10px;
  display: inline-block;
  margin: 3px 0
}

.homepage-slider-ng .text-wrapper .text-container h3 {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: bold
}

.homepage-slider-ng .text-wrapper .text-container a {
  color: #eee;
  text-decoration: underline
}

.homepage-slider-ng .boxes-wrapper {
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
  /* bottom: 10px */
}

.homepage-slider-ng .boxes-wrapper, .homepage-slider-ng .boxes-wrapper .home-box {
  z-index: 10 !important
}
